<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="client/fragments.html :: html_head" />

<body>

	<!-- Topbar Start -->
	<div th:replace="client/fragments.html :: topbar"></div>
	<!-- Topbar End -->
	<!-- Navbar Start -->
	<div th:replace="client/fragments.html :: navbar"></div>
	<!-- Navbar End -->
    <!-- Carousel Start -->
    <div th:replace="client/fragments.html :: carousel"></div>
    <!-- Carousel End -->
    
    
   <!-- Features Start -->
    <div class="container pt-5">
        <div class="d-flex flex-column text-center mb-5">
                <h4 class="text-primary mb-3">DỊCH VỤ</h4>
                <h1 class="display-4 m-0">CỦA CHÚNG TÔI</h1>
        </div>
    </div>

    <!-- Features Start -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 py-5 py-lg-0 px-3 px-lg-5">
            	<h4 class="text-primary mb-3">CHĂM SÓC TỐT NHẤT</h4>
                <p class="mb-4">Bạn đang sở hữu cho mình một chú cún đáng yêu, nhưng vì công việc nên nhiều khi không có thời gian để chăm sóc. 
				                Chính vì thế, để giúp xóa đi nỗi lo cho nhiều bạn về chăm nuôi thú cưng mỗi khi xa nhà thì 
				                những dịch vụ chăm sóc thú cưng của chúng tôi sẽ giúp bạn những điều đó.
				</p>
                <a href="" class="btn btn-lg btn-primary mt-3 px-4">XEM NGAY</a>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid w-100" th:src="@{/resources/images/petcare.png}" alt=""></img>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-lg-6">
                <img class="img-fluid w-100" th:src="@{/resources/images/blog-3.jpg}" alt=""></img>
            </div>
            <div class="col-lg-6 py-5 py-lg-0 px-3 px-lg-5">
            	<h4 class="text-primary mb-3">HỖ TRỢ TỐT NHẤT</h4>
                <p class="mb-4">Với định hướng mang tới dịch vụ đảm bảo nhất, PETHOUSE chuyên phân phối nhiều mặt hàng liên quan tới thú cưng 
                				từ phụ kiện, thuốc,… tới dịch vụ khách sạn, cắt tỉa giúp khách khi tới PETHOUSE sẽ dễ dàng chọn dịch vụ 
                				hoặc mặt hàng khách quan tâm. Bằng kinh nghiệm cùng sự đào tạo liên tục về cả cách làm việc, cách trao đổi, 
                				tư vấn cho khách, chúng tôi luôn tự tin với dịch vụ của mình khi mang tới khách.
				</p>
                <a href="" class="btn btn-lg btn-primary mt-3 px-4">XEM NGAY</a>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-lg-6 py-5 py-lg-0 px-3 px-lg-5">
            	<h4 class="text-primary mb-3">CHƠI ĐÙA</h4>
                <p class="mb-4">Đối với hầu hết mọi người, chơi đùa với thú cưng là hoạt động khá vui vẻ. 
                				Đây là hành vi tự nhiên của loài vật này, đặc biệt là chó con, và tạo điều kiện 
                				cho người chủ gắn kết với thú cưng của mình. Chơi đùa có thể bao gồm những hoạt động 
                				ngẫu nhiên nhẹ nhàng cho đến những trò chơi hoặc môn thể thao cường độ cao. 
                				Nhằm xây dựng thói quen vui chơi cho cả bạn lẫn thú cưng một cách dễ dàng, 
                				bạn có thể tìm hiểu loại đồ chơi và trò chơi phù hợp.
				</p>
                <a href="" class="btn btn-lg btn-primary mt-3 px-4">XEM NGAY</a>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid w-100" th:src="@{/resources/images/blog-2.jpg}" alt=""></img>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-lg-6">
                <img class="img-fluid w-100" th:src="@{/resources/images/7.jpg}" alt=""></img>
            </div>
            <div class="col-lg-6 py-5 py-lg-0 px-3 px-lg-5">
            	<h4 class="text-primary mb-3">THỨC ĂN</h4>
                <p class="mb-4">PETHOUSE chúng tôi chuyên phân phối mọi thực phẩm chó, mèo với giá tốt nhất. 
                Với lợi thế là đối tác chính từ những thương hiệu sản phẩm đi đầu, chúng tôi luôn cam đoan chất 
                lượng các sản phẩm an toàn, tiện lợi cũng như chính sách giá, hỗ trợ cho khách tốt nhất.
				</p>
                <a href="" class="btn btn-lg btn-primary mt-3 px-4">XEM NGAY</a>
            </div>
        </div>
    </div>
    <!-- Features End -->


    <div class="container pt-5">
        <div class="d-flex flex-column text-center">
            <h4 class="text-primary mb-3">VỀ CHÚNG TÔI</h4>
        </div>
    </div>
    <!-- About Start -->
    <div class="container align-items-center">
        <div class="row py-5 align-items-center">
            <div class="col-lg-6 pb-5 pb-lg-0 px-3 px-lg-5 ">
                <p class="mb-4">Bạn là chủ nhân của những chú chó hay những chú mèo đáng yêu. Bạn coi chúng như những thành viên trong gia đình. 
				               Tuy nhiên, làm sao để tiết kiệm chi phí mà vật nuôi của bạn vẫn khỏe mạnh và được chăm sóc đầy đủ. 
				               Đến với PetHouse, bạn sẽ được tư vấn bởi đội ngũ y bác sĩ lành nghề và đầy kinh nghiệm, 
				               giúp bạn bảo vệ và chăm sóc tốt nhất cho vật nuôi của mình.
				</p>
				<p class="mb-4">Ngoài ra chúng tôi còn có đội ngũ chuyên nghiệp để hỗ trợ thú cưng của bạn khi ốm đâu</p>
                <a th:href="@{/about-me}" class="btn btn-lg btn-primary mt-3 px-4">XEM NGAY</a>
            </div>
            <div class="col-lg-6">
                <div class="row px-3">
                    <div class="col-12 p-0">
                        <img class="img-fluid w-100" th:src="@{/resources/images/about-1.jpg}" alt=""></img>
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" th:src="@{/resources/images/about-2.jpg}" alt=""></img>
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" th:src="@{/resources/images/about-3.jpg}" alt=""></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Blog Start -->
    <div class="container pt-5">
        <div class="d-flex flex-column text-center">
            <h4 class="text-primary mb-3">HÌNH ẢNH</h4>
            <h1 class="display-4 m-0">MỚI NHẤT</h1>
        </div>
        <div class="row py-5 pb-3">
            <div class="col-lg-6">
                <div class="row px-1">
                    <div class="col-12 p-0">
                        <img class="img-fluid w-100" th:src="@{/resources/images/about-1.jpg}" alt=""></img>
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" th:src="@{/resources/images/about-2.jpg}" alt=""></img>
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" th:src="@{/resources/images/about-3.jpg}" alt=""></img>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row px-1">
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" th:src="@{/resources/images/about-2.jpg}" alt=""></img>
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" th:src="@{/resources/images/about-3.jpg}" alt=""></img>
                    </div>
                    <div class="col-12 p-0">
                        <img class="img-fluid w-100" th:src="@{/resources/images/about-1.jpg}" alt=""></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->


    <!-- Footer Start -->
	<div th:replace="client/fragments.html :: footer"></div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
</body>

</html>