<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="client/fragments.html :: html_head" />

<body>

	<!-- Topbar Start -->
	<div th:replace="client/fragments.html :: topbar"></div>
	<!-- Topbar End -->
	<!-- Navbar Start -->
	<div th:replace="client/fragments.html :: navbar"></div>
	<!-- Navbar End -->
    <!-- Carousel Start -->
    <div th:replace="client/fragments.html :: carousel"></div>
    <!-- Carousel End -->

    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="d-flex flex-column text-center mb-5 pt-5">
            <h3 class="text-secondary mb-3">Đăng nhập</h3>
            <p class="help-block text-danger" th:if="${loginError}">Tên đăng nhập hoặc mật khẩu bị sai</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-4 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form method="post" th:action="@{/j_spring_security_check}">
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="username" name="j_username"  placeholder="tên đăng nhập"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="password" class="form-control p-4" id="password" name="j_password" placeholder="mật khẩu"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
                        <div>
                            <button class="btn btn-primary py-3 px-5" type="submit">Đăng nhập</button>
                            <a class="float-right" th:href="@{/forgotpassword}">Quên mật khẩu ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    
    <!-- Footer Start -->
	<div th:replace="client/fragments.html :: footer"></div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" th:src="@{/resources/js/easing.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/owl.carousel.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/owl.carousel.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/moment-timezone.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/tempusdominus-bootstrap-4.min.js}"></script>

    <!-- Contact Javascript File -->
    <script type="text/javascript" th:src="@{/resources/js/jqBootstrapValidation.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/contact.js}"></script>

    <!-- Template Javascript -->
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
</body>

</html>