<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="client/fragments.html :: html_head" />

<body>

	<!-- Topbar Start -->
	<div th:replace="client/fragments.html :: topbar"></div>
	<!-- Topbar End -->
	<!-- Navbar Start -->
	<div th:replace="client/fragments.html :: navbar"></div>
	<!-- Navbar End -->
    <!-- Carousel Start -->
    <div th:replace="client/fragments.html :: carousel"></div>
    <!-- Carousel End -->

    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="d-flex flex-column text-center mb-5 pt-5">
            <h1 class="display-4 m-0">Chào mừng đến với <span class="text-primary">Pet House</span></h1>
            <h3 class="text-secondary mb-3">Vui lòng đăng ký để tạo tài khoản</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-4 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form th:action="@{/create_customer}" method="post" th:object="${users}">
                        <div class="control-group">
                            <input style="border-radius: 30px;" type="text" class="form-control p-4" id="email" placeholder="Email" th:field="*{email}"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input  style="border-radius: 30px;" type="password" class="form-control p-4" id="password" placeholder="Mật khẩu"th:field="*{password}" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button style="border-radius: 30px;"  class="btn btn-primary py-3 px-5" type="submit" >Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    
    <!-- Footer Start -->
	<div th:replace="client/fragments.html :: footer"></div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" th:src="@{/resources/js/easing.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/owl.carousel.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/owl.carousel.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/moment-timezone.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/tempusdominus-bootstrap-4.min.js}"></script>

    <!-- Contact Javascript File -->
    <script type="text/javascript" th:src="@{/resources/js/jqBootstrapValidation.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/contact.js}"></script>

    <!-- Template Javascript -->
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
</body>

</html>