<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="client/fragments.html :: html_head" />

<body>

	<!-- Topbar Start -->
	<div th:replace="client/fragments.html :: topbar"></div>
	<!-- Topbar End -->
	<!-- Navbar Start -->
	<div th:replace="client/fragments.html :: navbar"></div>
	<!-- Navbar End -->

    <!-- Services Start -->
    <div class="container-fluid bg-light pt-5">
        <div class="container py-5">
            <div class="d-flex flex-column text-center mb-5">
                <h1 class="display-4 m-0"><span class="text-primary">Dịch vụ thú cưng cao cấp</span> </h1>
            </div>
            <div class="row pb-3">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-house display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Tắm khô</h3>
                        <p>Giải pháp dành cho tất cả các giống thú cưng khác nhau.</p>
                        <a class="text-uppercase font-weight-bold" th:href="@{/product-detail}">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-food display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Tạo kiểu</h3>
                        <p>Thoải mái sáng tạo các kiểu cắt tỉa lông cho thú cưng.</p>
                        <a class="text-uppercase font-weight-bold" href="">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-grooming display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Chăm sóc cao cấp</h3>
                        <p>Chăm sóc thú cưng với những dịch vụ chuyên nghiệp và cao cấp</p>
                        <a class="text-uppercase font-weight-bold" href="">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-cat display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Phòng tắm y tế</h3>
                        <p>Đảm bảo thú cưng luôn luôn thoải mái, vui vẻ và mát mẻ.</p>
                        <a class="text-uppercase font-weight-bold" href="">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-dog display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Hoạt động vui chơi</h3>
                        <p>Thú cưng của bạn sẽ tham gia vào những hoạt động giải trí vui nhộn.</p>
                        <a class="text-uppercase font-weight-bold" href="">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-vaccine display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Thú y</h3>
                        <p>Với đội ngũ bác sĩ thú y tại nhà tốt nhất, giàu kinh nghiệm.</p>
                        <a class="text-uppercase font-weight-bold" href="">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-vaccine display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Vắc xin</h3>
                        <p>Phòng chống bệnh tật nguy hiểm cho thú cưng của bạn.</p>
                        <a class="text-uppercase font-weight-bold" href="">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-vaccine display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Đào tạo</h3>
                        <p>Huấn luyện thú cưng giúp bạn có một thú cưng tuyệt vời hơn..</p>
                        <a class="text-uppercase font-weight-bold" href="">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                        <h3 class="flaticon-vaccine display-3 font-weight-normal text-secondary mb-3"></h3>
                        <h3 class="mb-3">Lưu trú</h3>
                        <p>Chúng tôi sẽ giữ hộ thú cưng của bạn trong khi bạn du lịch,...</p>
                        <a class="text-uppercase font-weight-bold" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Testimonial Start -->
    <div class="container-fluid p-0 py-5">
        <div class="container p-0 pt-5">
            <div class="d-flex flex-column text-center mb-5">
                <h4 class="text-secondary mb-3">Đánh giá</h4>
                <h1 class="display-4 m-0">Khách hàng <span class="text-primary">nhận xét</span></h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="bg-light mx-3 p-4">
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" th:src="@{/resources/images/domixi.png}" style="width: 80px; height: 80px;" alt="">
                        <div class="ml-3">
                            <h5>Độ mixi</h5>
                            <i>Streamer</i>
                        </div>
                    </div>
                    <p class="m-0">Tôi cực kỳ hài lòng với dịch vụ của bạn</p>
                </div>
                <div class="bg-light mx-3 p-4">
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" th:src="@{/resources/images/Viruss.jpg}" style="width: 80px; height: 80px;" alt="">
                        <div class="ml-3">
                            <h5>ViruSs</h5>
                            <i>YouTuber</i>
                        </div>
                    </div>
                    <p class="m-0">Cực kỳ hài lòng, cực kỳ uy tín</p>
                </div>
                <div class="bg-light mx-3 p-4">
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" th:src="@{/resources/images/Xemesis.jpg}" style="width: 80px; height: 80px;" alt="">
                        <div class="ml-3">
                            <h5>Xemesis</h5>
                            <i>Streamer</i>
                        </div>
                    </div>
                    <p class="m-0">Qúa là tốt luôn</p>
                </div>
                <div class="bg-light mx-3 p-4">
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" th:src="@{/resources/images/pewpew.jpg}" style="width: 80px; height: 80px;" alt="">
                        <div class="ml-3">
                            <h5>PewPew</h5>
                            <i>Streamer</i>
                        </div>
                    </div>
                    <p class="m-0">Không cần bàn cãi về chất lượng</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Footer Start -->
	<div th:replace="client/fragments.html :: footer"></div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
</body>

</html>