<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments.html :: html_head" ></head>

    <body>
    
		<!-- Navbar Start -->
		<nav th:replace="/admin/fragments.html :: menubar_navs"></nav>
		<!-- Navbar End -->
		
        <div id="layoutSidenav">
        
			<!-- sidenav_nav Start -->
			<div th:replace="/admin/fragments.html :: sidenav_nav"></div>
			<!-- sidenav_nav End -->
		
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Quản lí tài khoản</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a th:href="@{/admin/manage}" style="text-decoration: none;">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/manage_user}" style="text-decoration: none;">Quản lí tài khoản</a></li>
                            <li class="breadcrumb-item">Chi tiết tài khoản</li>
                        </ol>
                        <div class="card mb-4">
							<form id = "UpdateInfoUser" th:action="@{/admin/updateInfoUser}" method="post" th:object="${user}">
								  <div class="form-group row">
								    <h2 style="text-align: center;">Thông tin người dùng</h2>
								  </div>
								   <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 20px;">
								   			<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""> 
								   </div>
								  <div class="form-group row mb-2">
								    <label class="col-sm-4 col-form-label" style="text-align: right;">Họ và tên</label>
								    <div class="col-sm-4">
								      <input type="hidden" class="form-control" id="user_id" th:field="*{userId}">
								      <input type="text" class="form-control" id="fullName" th:field="*{fullName}">
								    </div>
								  </div>
								  <div class="form-group row mb-2">
								     <label class="col-sm-4 col-form-label" style="text-align: right;">Ngày sinh</label>
								    <div class="col-sm-4">
								      <input type="text" class="form-control" id="birthday" th:field="*{birthday}">
								    </div>
								  </div>
								  <div class="form-group row mb-2">
								     <label class="col-sm-4 col-form-label" style="text-align: right;">Giới tính</label>
								    <div class="col-sm-4">
										<input class="form-control" id="gender" th:field="*{gender}">
								    </div>
								  </div>
								  <div class="form-group row mb-2">
								     <label class="col-sm-4 col-form-label" style="text-align: right;">Email</label>
								    <div class="col-sm-4">
								      <input type="email" class="form-control" id="email" th:field="*{email}">
								    </div>
								  </div>
								  <div class="form-group row mb-2">
								     <label class="col-sm-4 col-form-label" style="text-align: right;">Số điện thoại</label>
								    <div class="col-sm-4">
								      <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}">
								    </div>
								  </div>
								  <div class="form-group row mb-4">
								     <label class="col-sm-4 col-form-label" style="text-align: right;">Địa chỉ</label>
								    <div class="col-sm-4">
								      <input type="text" class="form-control" id="address" th:field="*{address}">
								    </div>
								  </div>
							   		<div class="form-group row mb-5" style="display: flex;justify-content: center;align-items: center;">
										<button type="button" id = "updateInfoUserButton" class="btn btn-primary col-sm-2" onClick = "updateUserInfoEvent()">Cập nhật</button>
										<button type="button" id = "resetInfoUserButton" class="btn btn-secondary col-sm-2" style="background: gray;" onClick = "resetUserInfoEvent()">Xóa thông tin</button>
							   		</div>
																	
							</form>
							<form >
							  <div class="form-group row">
							    <h2 style="text-align: center;">Thông tin tài khoản</h2>
							  </div>
							  <div class="form-group row mb-2">
							    <label class="col-sm-4 col-form-label" style="text-align: right;">Username</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" th:value="${user.username}" disabled="disabled">
							    </div>
							  </div>
							  <div class="form-group row mb-2">
							    <label class="col-sm-4 col-form-label" style="text-align: right;">Mật khẩu</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" th:value="${user.password}">
							    </div>
							  </div>
							  <div class="form-group row mb-2">
							    <label class="col-sm-4 col-form-label" style="text-align: right;">Vai trò</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" th:value="${role_user}">
							    </div>
							  </div>
							</form>
                        </div>
                    </div>
                </main>
                
                <!-- Modal start-->
				<!-- Modal end-->
				
			    <!-- Footer Start -->
				<div th:replace="/admin/fragments.html :: footer"></div>
				<script>
				 function resetUserInfoEvent(){
				   document.getElementById("UpdateInfoUser").reset();
				 } 
				 function updateUserInfoEvent(){
/* 				      var fullName = $('#fullName').val();
				      var birthday = $('#birthday').val();
				      var gender = $('#gender').val();
				      var email = $('#email').val();
				      var phoneNumber = $('#phoneNumber').val();
				      var address = $('#address').val(); */
				      
				      var users = {
				    	"userId" : 		$('#user_id').val(),  
				    	"fullName" : 	$('#fullName').val(),  
				    	"birthday" : 	$('#birthday').val(),
				    	"gender": 		$('#gender').val(),
				    	"email": 		$('#email').val(),
				    	"phoneNumber": 	$('#phoneNumber').val(),
				    	"address": 		$('#address').val(),
				      }
				      
				      
				      //var json = { "producer" : producer, "model" : model, "price": price};
				 
				    $.ajax({
				        url: $("#UpdateInfoUser").attr( "action"),
				        data: JSON.stringify(users),
				        type: "POST",
				        contentType : "application/json",
				        dataType : 'json',
				        success: function(users) {
				        	
				        	console.log("SUCCESS: ", users);
				        	
/* 				        	document.getElementById("user_id").value = users.userId;
				        	document.getElementById("fullName").value = users.fullName;
				        	document.getElementById("birthday").value = users.birthday;
				        	document.getElementById("gender").value = users.gender;
				        	document.getElementById("email").value = users.email;
				        	document.getElementById("phoneNumber").value = users.phoneNumber;
				        	document.getElementById("address").value = users.address; */
				        	
				        	alert("Cập nhật thông tin thành công");
				        	
				        },
				        error : function(e) {
				        	console.log("ERROR: ", e);
				        	alert("Cập nhật thông tin thất bại");
				        }
				    });
				 
/* 				    event.preventDefault(); */
				 } 
				 
				</script>
			    <!-- Footer End -->
            </div>
        </div>
    </body>
</html>
